<div class="books-page">
  <!-- Header -->
  <div class="header">
    <button class="back-btn" (click)="goBack()">←</button>
    <h2 class="title">{{ store.topic() | titlecase }}</h2>
  </div>

  <!-- Search -->
  <div class="search-wrapper">
    <input type="text" placeholder="Search" [formControl]="searchControl" />
  </div>

  <!-- Books Grid -->
  @if (store.loadingState().loading) {
    <div class="loader">Loading...</div>
  }
  <div class="books-grid">
    @for (book of store.books(); track book.id) {
      <div class="book-card" (click)="openBook(book)">
        <img [src]="book.formats['image/jpeg']" alt="{{ book.title }}" />

        <div class="book-title">
          {{ book.title }}
        </div>

        <div class="book-author">
          {{ book.authors[0]?.name }}
        </div>
      </div>
    }
  </div>
  @if (store.loadingState().loading) {
    <div class="bottom-loader">Loading more...</div>
  }
</div>

<div class="scroll-trigger" #scrollTrigger></div>
